@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Noto+Serif&family=Oxygen:wght@300&display=swap');

div {
  margin: auto;
}

body {
  text-align: center;
  color: rgb(40, 53, 53);
}